.page-container {
  width: 100vw;
  margin: auto;
  /* display: flex;
  justify-content: center; */
}

.channel-logo-container {
  margin: auto;
  width: 90%;
}

.parent-container {
  display: flex;
  justify-content: center;
  /* Center the child horizontally */
  width: 100%;
  /* Ensure it takes full width of its parent */
}

.scroll-container-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  gap: 10px;
  /* Adds space between video boxes */
  flex-grow: 1;
  padding: 10px 0;
  /* Optional: Adds vertical padding to avoid touching top/bottom edges */
}

.video-box {
  min-width: 400px; 
  height: 270px; 
  flex-shrink: 0;
  object-fit: cover;
  text-align: start;
  
}

.short-video-box {
  position: relative;
  width: 200px; /* Fixed width */
  height: auto;
  
}

.short-img {
  width: 100%; /* Ensures image fits the width of the container */
  height: auto; /* Maintains aspect ratio */
  max-height: 720px; /* Limits the maximum height to intrinsic height */
  max-width: 405px; /* Limits the maximum width to intrinsic width */
  object-fit: cover;
  aspect-ratio: 83/151;
  border-radius: 10px;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for WebKit browsers */
}

.scrollContainer {
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}