.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.activeTab {
  color: white;
  background-color: #2f2f2f;
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: 500;
}

.buttons-container {
  overflow-x: auto;
  scrollbar-width: none;

}

::-webkit-scrollbar {
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-card-container {
  display: flex;
  flex-direction: column;
  width: 430px;
  align-items: flex-start;
  transition: ease 500ms;
  margin: 10px;

  white-space: nowrap; 
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.video-card-container-close {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: ease 500ms;
  margin: 10px;

  white-space: nowrap; 
  overflow: hidden;
}


.video-card-container:hover {
  transform: scale(1.05);
}

.video-title {
  width: 1060px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;

}

.video-title-close {
  width: 1060px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;

}


.navbar {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 15px; */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: white;
}

.sideNav {
  position: sticky;
  left: 0;
  top: 100px;
  width: 15%
}

.i-frame-container-open {
  width: 70%;
}

.i-frame-container-close {
  width: 67%;
}

.recomended-container-open {
  width: 30%;
  border: 1px solid blueviolet;
}

.recomended-container-close {
  width: 33%;
  border: 1px solid blueviolet;
}

.comment-container-open {
  display: flex;
  border: 1px solid orangered;
  width: 67%;
}

.comment-container-close {

}
.comment-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 20px;
  flex-wrap: wrap;

}

.watch-page-container-menu-open {
  display: flex;
  align-items: start;
  width: 75%;
}

/* .watch-page-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  border: 1px solid black;
} */

.video-live-chat-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.live-container{
  width: 100%;
}
.video-info-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
  width: 100%;
  display: flex;
}

.hide-video-description {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fffefe;
  height: 60px;
  
}
.expand-video-description {
  display: flex;
  text-align: start;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: start;
  background-color: #f4f4f4;
}
.video-des {
  width: 100%;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  padding: 20px;
  font-size: 16px;
  margin: 0;
  background: rgb(227, 227, 227);
}

.user-comment-wrapper{
  display: flex;
  flex-direction: column;
  width: 500px;
  flex-wrap: wrap;
  text-align: start;
  margin-left: 10px;

}